/* General Settings */

* {
  box-sizing: border-box;
}

body {
  font-family: "Old Standard TT" serif;
  font-weight: 400;
  color: #6a6868;
  font-size: 1.2em;
  margin: 0;
}

h1,
button {
  color: #fff;
  font-weight: 700;
  margin: auto;
  font-size: 1em;
}

h2 {
  font-weight: 700;
  color: #444;
}


/* Header-Section */

header {
  text-transform: uppercase;
  background-color: #444;
  padding: 1em;
  text-align: center;
}

/* Main-Section */

main {
  padding: 0.5em;
}
